<h2>Aanmaken nieuwe klant</h2>

<div class="form">
  <%= form_with model: @customer, url: admin_customers_path do |form| %>
    <div>
      <span>Naam nieuwe klant:</span>
      <%= form.text_field :name%><br>
    </div>

    <div>
      <%= form.submit "Maak aan" %>
    </div>
        <div class="error">
        <%= @customer.errors.full_messages().first %>
    </div>
  <%end%>
</div>
