<h2>Overzicht</h2>

<table>
<tr>
    <th>Entiteit</th>
    <th>Aantal</th>
</tr>
<tr>
    <td>Klanten</td>
    <td>0</td>
</tr>
<tr>
    <td>Studenten</td>
    <td>0</td>
</tr>
</table>

<h2>Logboek</h2>
<ul>
  <% @log_entries.each do |entry| %>
    <li>
      <%= entry.created_at %> :: 
      <%= entry.severity %> :: 
      <%= entry.message %>
    </li>
  <% end %>
</ul>