/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    margin: 0 auto;
}

a {
    font-weight: bold;
    color: black;
    text-decoration: none;
    padding: 4px;
}

a:hover {
    text-decoration: underline;
}

input[type=text], input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
input[type=submit] {
    width: 100%;
    background-color: #c09f80;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: large;
}

input[type=submit]:hover {
    background-color: #565656;
}

table {
    border-collapse: collapse;
    width: 100%;
    max-width: 600px;
  }
  
td, th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
tr:nth-child(even){background-color: #f2f2f2;}
  
tr:hover {background-color: #ddd;}
  
th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #656565;
    color: white;
  }

.content {
    margin: 10px;   
}

.logo {
    background-color: #76323f;
    color: white;
    width: 100%;
    font-family: "Lucida Console", "Courier New", monospace;
}

.logo h2 {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    margin: 0px;
}

.navigation {
    padding-left: 10px;
    padding-top: 6px;
    padding-bottom: 6px;;
    background-color: #d7cec7;
}

.admin_login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 500px;
}

.error {
    color: red;
    text-align: center;
}
